/* Colors */
/* Font sizes */
/* Fonts */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F2;
  font-family: "Roboto", sans-serif;
  color: #979797;
}

.panel__wrapper {
  display: -ms-flexbox;
  display: flex;
}

.main__content {
  -ms-flex: 1 1;
      flex: 1 1;
}

/* Sidebar */
nav {
  -ms-flex: 0 0 200px;
      flex: 0 0 200px;
}

nav h2, h3, h4, h5, h6, p {
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  color: #979797;
}

.nav__wrapper {
  position: fixed;
  width: 200px;
  height: 100vh;
  background: #191919;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav__logo {
  width: 100%;
}

.nav__logo--name {
  padding-left: 25px;
  color: #ffffff;
  font-family: "Kalam", cursive;
  display: inline-block;
  margin-top: 12px;
}

.nav__logo--icon {
  width: 30px;
  height: 15px;
  display: inline-block;
  margin-left: 30px;
}

.nav__logo--burger {
  position: relative;
}

.nav__logo--burger:before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #bababa;
  box-shadow: 0 7px 0 0 #bababa, 0 14px 0 0 #bababa;
}

.nav__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #333333;
}

.nav__menu li {
  height: 45px;
  width: 100%;
}

.nav__menu li a {
  text-decoration: none;
}

.nav__menu__item {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 20px;
  border-left: 3px solid #191919;
}

.nav__menu__item:hover {
  background-color: #333333;
  border-left: 3px solid #ffa200;
  color: #ffffff;
}

.nav__menu__item:hover svg {
  fill: #ffffff;
}

.nav__menu__image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.nav__menu__image svg {
  fill: #979797;
}

.nav__people {
  width: 100%;
  height: 150px;
  padding-left: 20px;
}

.nav__people__title {
  text-transform: uppercase;
}

.nav__people__managers {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
}

.nav__people__managers li {
  height: 45px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.nav__people__managers h4 {
  color: #56819F;
  display: inline-block;
}

.nav__people__avatar {
  width: 40px;
  height: 40px;
  background-color: blue;
  border-radius: 20px;
  display: inline-block;
  margin-right: 15px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.nav__people__avatar img {
  width: 100%;
  height: auto;
}

/* Header */
.header {
  width: calc(100% - 200px);
  height: 60px;
  z-index: 1;
  position: fixed;
}

.header__wrapper {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 3px 14px -12px rgba(0, 0, 0, 0.35);
}

.header__items {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 0;
  padding: 0;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.header__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.header__items li {
  display: inline-block;
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-left: 0.5px solid #bababa;
  padding: 0 20px;
}

.header__items li:hover {
  background-color: #E3E3E3;
}

.header__item-total {
  font-size: 15px;
  font-weight: 700;
  margin-left: 15px;
  margin-right: 15px;
}

.header__item-user {
  font-size: 13px;
  color: #56819F;
  margin-left: 15px;
  margin-top: -3px;
}

.header__item__message--new {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #F58220;
  margin-left: -8px;
  margin-top: -15px;
}

.header__item__image svg {
  fill: #979797;
  display: inline-block;
}

/* Content */
h4 {
  font-weight: 600;
}

.content__wrapper {
  margin-top: 60px;
  width: 100%;
  padding: 20px;
}

.content__data {
  width: 100%;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 21px -12px rgba(0, 0, 0, 0.35);
  color: #979797;
}

.content__data__title {
  width: 100%;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding-left: 15px;
  text-transform: uppercase;
  border-bottom: 0.5px solid #bababa;
}

.content__data__calendar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100px;
  border-bottom: 0.5px solid #bababa;
}

.content__data__stats {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.content__data__links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 0 20px 0;
}

.results__wrapper {
  width: 75%;
  max-width: 900px;
  margin: 0;
}

/* Calndar */
.calendar__dates {
  width: 320px;
  height: 40px;
  border-radius: 8px;
  border: 0.5px solid #bababa;
  margin: 10px;
  font-size: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.calendar__dates > :first-child {
  border-right: 0.5px solid #bababa;
}

.calendar__dates__item {
  width: 100%;
  padding-left: 15px;
}

.calendar__dates__image {
  margin-right: 15px;
  fill: #979797;
}

/* Results */
.numbers {
  list-style: none;
  margin: 40px 0 60px 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numbers li {
  -ms-flex: 40%;
      flex: 40%;
  height: 40px;
  border-bottom: 0.5px solid #bababa;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.numbers span {
  font-weight: 400;
  color: #191919;
}

.numbers__item-left {
  margin-right: 20px;
}

.numbers__item-right {
  margin-left: 20px;
}

/* Chart */
.legend__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80px;
  margin-bottom: 30px;
}

.legend__item {
  height: 40px;
  border-radius: 8px;
  padding: 0 10px;
  margin: 0 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.legend__item:hover {
  background-color: #E3E3E3;
}

.legend__item > p {
  font-size: 16px;
}

.legend__item--active {
  background-color: #E3E3E3;
}

.legend__element {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 8px;
}

#signups {
  background-color: #56819F;
}

#FTD {
  background-color: #F58220;
}

#earned {
  background-color: #74B67A;
}

.chart__wrapper {
  width: 100%;
}

.chart__axis__vertical {
  -ms-flex: calc(100% / 11);
      flex: calc(100% / 11);
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.chart__axis__vertical h5 {
  margin: 0;
}

.chart__axis__horizontal__wrapper {
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
}

.chart__bar {
  width: 35%;
  background-color: green;
}

.chart__bar__graph {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  margin: 0;
  padding: 0;
}

.chart__columns {
  height: 250px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.chart__columns__result {
  -ms-flex: calc(100% / 11);
      flex: calc(100% / 11);
  border-left: 0.5px solid #bababa;
  border-bottom: 0.5px solid #bababa;
}

.chart__columns__result:first-child {
  border-bottom: none;
  border-left: 0.5px solid #bababa;
}

.horizontal__axis__item {
  -ms-flex: calc(100% / 11);
      flex: calc(100% / 11);
}

[value="50"] {
  height: 5%;
}

[value="100"] {
  height: 10%;
}

[value="150"] {
  height: 25%;
}

[value="200"] {
  height: 33%;
}

[value="250"] {
  height: 40%;
}

[value="300"] {
  height: 50%;
}

[value="350"] {
  height: 60%;
}

[value="400"] {
  height: 65%;
}

[value="450"] {
  height: 70%;
}

[value="500"] {
  height: 80%;
}

[value="550"] {
  height: 90%;
}

[value="600"] {
  height: 100%;
}

.button__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 40px;
  margin: 20px 0 20px 0;
}

.links__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links__list li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-bottom: 0.5px solid #bababa;
}

.links__list li:hover {
  background-color: #E3E3E3;
}

.links__list li:first-child {
  border-top: 0.5px solid #bababa;
}

.links_list__item__name {
  padding-left: 10px;
  -ms-flex: 45%;
      flex: 45%;
}

.links_list__item__url {
  -ms-flex: 40%;
      flex: 40%;
  color: #56819F;
  font-size: 15px;
  font-weight: 200;
}

.links_list__item__icons {
  -ms-flex: 15%;
      flex: 15%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.links_list__item__icons-link {
  display: none;
  fill: #F58220;
  margin: 5px;
}

.links_list__item__icons-trash {
  display: none;
  fill: #979797;
  margin: 5px;
}

.links__list li:hover .links_list__item__icons-link {
  display: block;
}

.links__list li:hover .links_list__item__icons-trash {
  display: block;
}

/* Styleguide */
/* Buttons */
.btn {
  width: 130px;
  height: 40px;
  color: #ffffff;
  font-weight: 300;
  border-radius: 8px;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.btn-regular {
  background-color: #979797;
}

.btn-regular:hover {
  background-color: #bababa;
}

.btn-danger {
  background-color: #F58220;
}

.btn-danger:hover {
  background-color: #ffa200;
}

.btn-update {
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-weight: 300;
  border-radius: 8px;
  margin: 0;
  background-color: #F58220;
  margin: 10px;
  fill: #ffffff;
}

.btn-update:hover {
  background-color: #ffa200;
}

/* Components */
/*# sourceMappingURL=style.css.map */