/* Global */
*, *::before, *::after {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: $paragraph-font;
  color: $main-color;
}

.panel__wrapper {
  display: flex;
}

.main__content {
  flex: 1 1;
}

/* Sidebar */

nav {
  flex: 0 0 200px;
}

nav h2,h3,h4,h5,h6,p {
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  color: $main-color;
}

.nav {
  &__wrapper {
    position: fixed;
    width: 200px;
    height: 100vh;
    background: $sidebar-color;
    top: 0;
    left: 0;
    z-index:2;
  }

  &__logo {
    width: 100%;

    &--name {
      padding-left: 25px;
      color: $sidebar-font-color;
      font-family: $brand-font;
      display: inline-block;
      margin-top: 12px;
    }

    &--icon {
      width: 30px;
      height: 15px;
      display: inline-block;
      margin-left: 30px;
    }

    &--burger {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 20px;
        height: 2px;
        border-radius: 2px;
        background: $main-medium-color;
        box-shadow:
          0 7px 0 0 $main-medium-color,
          0 14px 0 0 $main-medium-color;
      }
    }
  }

  &__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
    border-bottom: 1px solid $sidebar-hover-color;

  li {
      height: 45px;
      width: 100%;
    }

    li a {
      text-decoration: none;
    }

    &__item {
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 20px;
      border-left: 3px solid $sidebar-color;

      &:hover {
        background-color: #333333;
        border-left: 3px solid $hover-light-color;
        color: $sidebar-font-color;

        svg {
          fill: $sidebar-font-color;
        }
      }
    }

    &__image {
      width: 20px;
      height: 20px;
      margin-right: 10px;

      svg {
        fill: $main-color;
      }
    }
  }

  &__people {
    width: 100%;
    height: 150px;
    padding-left: 20px;

    &__title {
      text-transform: uppercase;
    }

    &__managers {
      list-style-type: none;
      padding: 0;
      margin: 0;
      padding-bottom: 30px;

      li {
        height: 45px;
        width: 100%;
        @include flex(row, center, flex-start);
      }

      h4 {
        color: $link-color;
        display: inline-block;
      }
    }

    &__avatar {
      width: 40px;
      height: 40px;
      background-color: blue;
      border-radius: 20px;
      display: inline-block;
      margin-right: 15px;
      overflow: hidden;
      object-fit: cover;
      @include flex(row, center, center);

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* Header */

.header {
  width: calc(100% - 200px);
  height: 60px;
  z-index: 1;
  position: fixed;

  &__wrapper {
    width: 100%;
    height: 100%;
    background-color: $header-color;
    box-shadow: 0px 3px 14px -12px rgba(0,0,0,0.35);
  }

  &__items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin:0;
    padding:0;
    justify-content: flex-end;
  }

  &__item {
    @include flex(row, center, center);
  }

  &__items li {
    display: inline-block;
    height: 60px;
    @include flex(row, center, center);
    border-left: 0.5px solid $main-medium-color;
    padding: 0 20px;

    &:hover {
      background-color: $main-light-color;
    }
  }

  &__item-total {
    font-size: 15px;
    font-weight: 700;
    margin-left: 15px;
    margin-right: 15px;
  }

  &__item-user {
    font-size: 13px;
    color: $link-color;
    margin-left: 15px;
    margin-top: -3px;
  }

  &__item__message--new {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: $hover-color;
    margin-left: -8px;
    margin-top: - 15px;
  }

  &__item__image svg {
    fill: $main-color;
    display: inline-block;
  }
}

/* Content */

h4 {
  font-weight: 600;
}

.content {
    &__wrapper {
    margin-top: 60px;
    width: 100%;
    padding: 20px;
  }

  &__data {
    width: 100%;
    margin-bottom: 20px;
    background-color: $header-color;
    box-shadow: 0px 0px 21px -12px rgba(0,0,0,0.35);
    color: $main-color;

    &__title {
      width: 100%;
      height: 40px;
      @include flex(row, center, flex-start);
      padding-left: 15px;
      text-transform: uppercase;
      border-bottom: 0.5px solid $main-medium-color;
    }

    &__calendar {
      @include flex(row, center, center);
      height: 100px;
      border-bottom: 0.5px solid $main-medium-color;
    }

    &__stats {
      @include flex(column, center, center);
    }

    &__links {
      @include flex(column, center, center);
      margin: 0 0 20px 0;
    }
  }
}

.results__wrapper {
  width: 75%;
  max-width: 900px;
  margin: 0;
}

/* Calndar */

.calendar__dates{
  width: 320px;
  height: 40px;
  border-radius: 8px;
  border: 0.5px solid $main-medium-color;
  margin: 10px;
  font-size: 14px;
  @include flex(row, center, space-around);

  & > :first-child{
    border-right: 0.5px solid $main-medium-color;
  }

  &__item {
    width: 100%;
    padding-left: 15px;
  }

  &__image{
    margin-right: 15px;
    fill: $main-color;
  }
}

/* Results */

.numbers {
  list-style: none;
  margin: 40px 0 60px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 40%;
    height: 40px;
    border-bottom: 0.5px solid $main-medium-color;
    display: flex;
    justify-content: space-between;
  }

  span {
    font-weight: 400;
    color: $sidebar-color;
  }

  &__item {

    &-left {
    margin-right: 20px;
    }

    &-right {
      margin-left: 20px;
    }
  }
}

/* Chart */
.legend {

  &__wrapper {
    @include flex(row, center, center);
    flex-wrap: wrap;
    height: 80px;
    margin-bottom: 30px;
  }

  &__item {
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    margin: 0 20px;
    @include flex(row, center, center);

    &:hover {
      background-color: $main-light-color;
    }

    & > p {
      font-size: 16px;
    }

    &--active {
      background-color: $main-light-color;
    }
  }

  &__element {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 8px;
  }
}

#signups{
  background-color: $link-color;
}

#FTD{
  background-color: $hover-color;
}

#earned{
  background-color: $positive-color;
}

.chart {
  &__wrapper {
    width: 100%;
  }

  &__axis__vertical {
    flex: calc(100% / 11);
    display: flex;
    padding-right: 10px;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;

    h5 {
      margin: 0;
    }
  }

  &__axis__horizontal__wrapper {
    height: 40px;
    display: flex;
    align-items: flex-end;
  }

  &__bar {
    width: 35%;
    background-color: green;

    &__graph {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      justify-content: space-around;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  &__columns {
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__result {
      flex: calc(100% / 11);
      border-left: 0.5px solid $main-medium-color;
      border-bottom: 0.5px solid $main-medium-color;

      &:first-child {
        border-bottom: none;
        border-left: 0.5px solid $main-medium-color;
      }
    }
  }
}

.horizontal__axis__item {
  flex: calc(100% / 11);
}

[value="50"] {
  height: 5%;
}

[value="100"] {
  height: 10%;
}

[value="150"]  {
  height: 25%;
}

[value="200"] {
  height: 33%;
}

[value="250"] {
  height: 40%;
}

[value="300"] {
  height: 50%;
}

[value="350"] {
  height: 60%;
}

[value="400"] {
  height: 65%;
}

[value="450"] {
  height: 70%;
}

[value="500"] {
  height: 80%;
}

[value="550"] {
  height: 90%;
}

[value="600"]  {
  height: 100%;
}

.button__wrapper {
  @include flex(row, center, center);
  height: 40px;
  margin: 20px 0 20px 0;
}

.links {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-bottom: 0.5px solid $main-medium-color;

      &:hover {
        background-color: $main-light-color
      }

      &:first-child{
        border-top: 0.5px solid $main-medium-color;
      }
    }
  }
}

.links_list__item {

  &__name{
    padding-left: 10px;
    flex: 45%;
  }

  &__url {
    flex: 40%;
    color: $link-color;
    font-size: 15px;
    font-weight: 200;
  }

  &__icons {
    flex: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-link {
      display: none;
      fill: $hover-color;
      margin: 5px;
    }

    &-trash {
      display: none;
      fill: $main-color;
      margin: 5px;
    }
  }
}

.links__list li:hover .links_list__item__icons-link {
  display: block;
}

.links__list li:hover .links_list__item__icons-trash {
  display: block;
}

/* Styleguide */

/* Buttons */

.btn {
  @include btn(130px, 40px);
  @include flex(row, center, center);
}

.btn-regular {
  background-color: $main-color;

  &:hover {
    background-color: $main-medium-color;
  }
}

.btn-danger {
  background-color: $hover-color;

  &:hover {
    background-color: $hover-light-color;
  }
}

.btn-update {
  @include btn(40px, 40px);
  background-color: $hover-color;
  margin: 10px;
  fill: $header-color;

  &:hover {
    background-color: $hover-light-color;
  }
}

