@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin btn($btn-width, $btn-height) {
  width: $btn-width;
  height: $btn-height;
  color: $header-color;
  font-weight: 300;
  border-radius: 8px;
  margin: 0;
}
