/* Colors */

$sidebar-color: #191919;
$sidebar-font-color: #ffffff;
$sidebar-hover-color: #333333;
$background-color: #F5F5F2;
$main-color: #979797;
$main-medium-color: #bababa;
$main-light-color: #E3E3E3;
$header-color:#ffffff;
$complementary-color:#8DBEC8;

$link-color:#56819F;
$hover-color:#F58220;
$hover-light-color:#ffa200;

$active-color:#04AE00;
$positive-color:#74B67A;
$positive-light-color:#96CC9B;
$negative-color: #DE5252;
$negative-light-color:#EC7171;
$danger-color:#FF0000;

/* Font sizes */
$paragraph-font-size: 16px;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

/* Fonts */
$brand-font: 'Kalam', cursive;
$paragraph-font: 'Roboto', sans-serif;

/* Styling */
$border-main: 0.5px solid $main-medium-color;
