/* Buttons */

button {
  border: none;
}

.btn {
  @include btn(130px, 40px);
  @include flex(row, center, center);
}

.btn-regular {
  background-color: $main-color;

  &:hover {
    background-color: $main-medium-color;
  }
}

.btn-danger {
  background-color: $hover-color;

  &:hover {
    background-color: $hover-light-color;
  }
}

.btn-update {
  @include btn(40px, 40px);
  background-color: $hover-color;
  margin: 10px;
  fill: $header-color;

  &:hover {
    background-color: $hover-light-color;
  }
}
