/* List */

.button__wrapper {
  @include flex(row, center, center);
  height: 40px;
  margin: 20px 0 20px 0;
}

.links {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-bottom: $border-main;

      &:hover {
        background-color: $main-light-color;
      }

      &:first-child{
        border-top: $border-main;
      }
    }
  }
}

.links_list__item {

  &__name{
    padding-left: 10px;
    flex: 45%;
  }

  &__url {
    flex: 40%;
    color: $link-color;
    font-size: 15px;
    font-weight: 200;
  }

  &__icons {
    flex: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-link {
      display: none;
      fill: $hover-color;
      margin: 5px;
    }

    &-trash {
      display: none;
      fill: $main-color;
      margin: 5px;
    }
  }
}

.links__list li:hover .links_list__item__icons-link {
  display: block;
}

.links__list li:hover .links_list__item__icons-trash {
  display: block;
}

@media (max-width: 767px) {

  .links__list li {
    flex-direction: column;
  }

  .links__list__item {

    h4 {
      font-size: 18px;
      margin: 10px 0 5px 0;
      overflow: hidden;
    }
  }
}
