/* Calendar */

.calendar__wrapper {
  @include flex(row, center, center);
  height: 100px;
  border-bottom: $border-main;
}

.calendar__dates{
  height: 40px;
  border-radius: 8px;
  border: $border-main;
  margin: 10px;
  font-size: 14px;
  padding-left: 5px;
  @include flex(row, center, space-around);

  > :first-child{
    border-right: $border-main;
  }

  &__item {
    width: 100%;
    padding-left: 15px;
  }

  &__image{
    margin-right: 15px;
    fill: $main-color;
  }
}


form label input[type="submit"] {
  display: none;

}

.calendar__dates input[type="date"] {
  border: none;
  outline: none;
  color: $main-color;
}

@media (max-width: 767px) {
  .calendar__wrapper {
    flex-direction: column;
    height: 120px;
    margin-top: 20px;
  }
}
