/* Campaign results */

.statistics__wrapper {
  @include flex(column, center, center);
}

.results__wrapper {
  width: 75%;
  max-width: 900px;
  margin: 0;
}

.numbers {
  list-style: none;
  margin: 40px 0 60px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 40%;
    height: 40px;
    border-bottom: $border-main;
    display: flex;
    justify-content: space-between;
  }

  span {
    font-weight: 400;
    color: $sidebar-color;
  }

  &__item {
    &-left {
      margin-right: 20px;
    }

    &-right {
      margin-left: 20px;
    }
  }
}

/* Chart */

.legend {
  &__wrapper {
    @include flex(row, center, center);
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__item {
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    margin: 0 20px;
    @include flex(row, center, center);

    &:hover {
      background-color: $main-light-color;
    }

    > p {
      font-size: 16px;
    }

    &--active {
      background-color: $main-light-color;
    }
  }

  &__element {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 8px;
  }
}

.signups{
  background-color: $complementary-color;
}

.FTD{
  background-color: $hover-color;
}

.earned{
  background-color: $positive-color;
}

.chart {
  &__wrapper {
    width: 100%;
    margin-bottom: 25px;
  }

  &__axis__vertical {
    flex: calc(100% / 11);
    display: flex;
    padding-right: 10px;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;

    h5 {
      margin: 0;
    }
  }

  &__axis__horizontal__wrapper {
    height: 40px;
    display: flex;
    align-items: flex-end;
  }

  &__bar {
    width: 35%;

    &__graph {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      justify-content: space-around;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  &__columns {
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 40px;

    &__result {
      flex: calc(100% / 11);
      border-left: $border-main;
      border-bottom: $border-main;
      counter-increment: my-awesome-counter;

      &:first-child {
        border-bottom: none;
        border-left: $border-main;
      }

      &:after {
        width: 100%;
        height: 20px;
        padding-top: 5px;
        margin-top: 5px;
        content: counter(my-awesome-counter);
        @include flex(row, center, center);
      }
    }
  }
}

.horizontal__axis__item {
  flex: calc(100% / 11);
}

[value="50"] {
  height: 5%;
}

[value="100"] {
  height: 10%;
}

[value="150"]  {
  height: 25%;
}

[value="200"] {
  height: 33%;
}

[value="250"] {
  height: 40%;
}

[value="300"] {
  height: 50%;
}

[value="350"] {
  height: 60%;
}

[value="400"] {
  height: 65%;
}

[value="450"] {
  height: 70%;
}

[value="500"] {
  height: 80%;
}

[value="550"] {
  height: 90%;
}

[value="600"]  {
  height: 100%;
}


@media (max-width: 767px) {
  .numbers {

    flex-direction: column;

    &__item {
      &-left {
        margin: 0;
      }

      &-right {
        margin: 0;
      }
    }
  }

  .legend {
    &__wrapper {
      flex-direction: column;
    }

    &__item {
      margin-bottom: 5px;
    }
  }
}
